header{
  z-index: 600;
  position: relative; 

}
header .menu-content{
  align-items: center;
}
header> ul> li> a{
    color: white;
}
ul> li> a :hover{
  transition: 0.5;
  color: #731919;
}
body p{
  margin-top: 0;
                margin-bottom: 1rem;
                font-size: 14px;
                opacity: 0.5;
}
body {
    max-width: 1920px;
}
body .icon-case{

  width: 50px;
    height: 50px;
    color: white;
    background: #731919;
    border-radius: 50px;
    padding: 9px;
}
.front-div {
    height: 400px;
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    
  } ;

  .img-container{
  
    height: 90vh;
    background-image: url("img/tab-img.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

  .beneficios-case{
    color: white;
    background: gray;
  }
  .formaparte{
    height: 300px;
    background-image: url(img/cirujanos.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }
  

  .separator{
    width: 100px;
    height: 4px;
    background: #731919;
    border-radius: 50px;
    margin: 6px auto 50px;
  }
  /* .member-card :hover{
    
    border: solid 1px white;
    transition: 1s;
  } */

  /* Contactos */
  .img-body {
    opacity: 0.8;
    height: 68vh;
    width: 50hv;
    background-image: url(img/contact.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    transition: 0.2;
  }
  .img-body-about-us {
    opacity: 0.8;
    height: 68vh;
    width: 50hv;
    background-image: url(img/cirujanos.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    transition: 0.2;
  }
  /* Small devices (tablets, 768px and up) */
